	
.test{
	background:blue;
	height: 100px;
}
	
	
@media screen and (max-width: 1024px) {
    .test{
		background:yellow;
		height: 100px;
    }
}
@media screen and (max-width: 960px) {
    .test{
		background:red;
		height: 100px;
    }

}


@media screen and (max-width: 520px) {
    .test{
		background:green;
		height: 100px;
    }

}