        .testYellow{
			margin-left:400px;
            width:200px;
			height:50px;
			background:yellow;
			transform: skewX(45deg);
        }
		.testGreen{
			position:absolute;
			margin-left:376px;
			margin-top:26px;
            width:50px;
			height:200px;
			background:green;
			transform: skewY(45deg);
        }
		.testRed{
			margin-left:424px;
            width:200px;
			height:200px;
			background:red;
        }