html,body{
	margin:0;
	padding:0;
}
.clear{
  clear:both;
}
.global{
  float:left;
  width: 4.14rem;
  margin-bottom: 0.9rem;
}

.navigator{
  position: fixed;
  width: 4.14rem;
  bottom: 0rem;
  height: 0.9rem;
  background: #ffffff;
  border-top: 1px solid #9e9e9e;
}
.navigator1{
  float:left;
  width: 0.3rem;
  height: 0.3rem;
  margin-top:0.24rem;
  margin-left:0.58rem;
}
.navigator1Png{
  float:left;
  width: 0.3rem;
  height: 0.3rem;
}
.navigator2{
  float:left;
  width: 0.3rem;
  height: 0.3rem;
  margin-top:0.24rem;
  margin-left:0.58rem;
}
.navigator2Png{
  float:left;
  width: 0.3rem;
  height: 0.3rem;
}
.navigator3{
  float:left;
  width: 0.3rem;
  height: 0.3rem;
  margin-top:0.24rem;
  margin-left:0.58rem;
}
.navigator3Png{
  float:left;
  width: 0.3rem;
  height: 0.3rem;
}
.navigator4{
  float:left;
  width: 0.3rem;
  height: 0.3rem;
  margin-top:0.24rem;
  margin-left:0.58rem;
}
.navigator4Png{
  float:left;
  width: 0.3rem;
  height: 0.3rem;
}




.my{
  float:left;
  width: 4.14rem;
  margin-top:0.76rem;
  padding-left:0.25rem;
  font-size:0.36rem;
  color: #5075d4;
}
.profile{
  float:left;
  position: relative;
  width: 4.14rem;
  height:1.8rem;
  margin-top:0.5rem;
}
.profileImg{
  float:left;
  position: relative;
  width: 0.76rem;
  height:1.8rem;
  margin-left:0.25rem;
}
.profileImgPng{
  float:left;
  position: relative;
  width: 0.76rem;
  height:0.76rem;
}
.lvOuter{
  float:left;
  position: relative;
  width: 2.7rem;
  margin-left:0.25rem;
}
.lv{
  float:left;
  position: relative;
  width: 0.56rem;
  height:0.26rem;
  border-radius: 0.04rem;
  line-height:0.26rem;
  text-align: center;
  font-size: 0.12rem;
  font-weight: bold;
  color:#7591db;
  background: #d3dbeb;
}
.beginner{
  float:left;
  position: relative;
  width: 2.7rem;
  margin-top:0.15rem;
  margin-left:0.25rem;
  font-size: 0.35rem;
  font-weight: bold;
  color:#000000;
}
.count{
  float:left;
  position: relative;
  width: 2.7rem;
  margin-left:0.25rem;
  margin-top:0.1rem;
}
.countTextItem{
  float:left;
  position: relative;
  width:0.8rem;
  margin-left:0rem;
  font-size:0.14rem;
  color:#4f73d2;
  font-weight: bold;
}
.countValueItem{
  float:left;
  position: relative;
  width:0.8rem;
  margin-left:0rem;
  font-size:0.14rem;
  color:#464646;
  font-weight: bold;
}


.account{
  float:left;
  width: 4.14rem;
  margin-top:0.16rem;
  padding-left:0.25rem;
  font-size:0.16rem;
  color: #5075d4;
  font-weight: bold;
}
.item{
  float:left;
  width: 4.14rem;
  margin-top:0.26rem;
  padding-left:0.25rem;
  font-size:0.26rem;
  color: #000000;
  font-weight: bold;
}