html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Aladin', cursive;
  font-size: 1.5rem;
  background-color: #000000;
}
.iframeContent{
}
.centerOut{
  position: absolute;
  width:100px;
  height:100px;
  bottom:0px;
  left:50%;
  margin-left: -50px;
  background: url(./png/out.png);
  cursor: pointer;
}