html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Aladin', cursive;
  font-size: 1.5rem;
  background-color: #000000;
}

.subtitle{
  font-family:'Aladin', cursive;
  font-size: 64px;
  text-align: -webkit-center;
  margin:auto;
  margin-top: 80px;
  color: #ffffff
}

.container{
}

.container-item{
}